h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
}

.sectionOne {
  background-color: white;
}

.sectionTwo {
  background-color: black;
}
.heroImage {
  width: 100%;
}

.descriptionText {
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 500px 32px;
}
